@import './PlayRoom.scss';
@import './ControlPanel.scss';
@import './PaymentHistory.scss';

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial;
    font-size: 16px;
    color: #2f2f2f;
    background-color: #2c2a2a;
  }
  
  header {
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0 0 8px #b9b9b981;

    .main-page-view-button {
      position: absolute;
      top: 10%;
      left: 2%;
      font-size: 18px;
      color: #fff;
      border: none;
      border-radius: 5px;
      outline: none;
      background-color: #0099ff;
      height: 50px;
      width: 10%;
      cursor: pointer;
    }
    .go-to-admin-button {
      position: absolute;
      top: 10%;
      left: 14%;
      font-size: 18px;
      color: #fff;
      border: none;
      border-radius: 5px;
      outline: none;
      background-color: #0099ff;
      height: 50px;
      width: 10%;
      cursor: pointer;
    }
  
    h1 {
      text-align: center;
      margin-top: 25px;
      color: white;
    }
  
    .date-picker {
      position: absolute;
      z-index: 2;
      top: 21px;
      left: 60%;
      font-size: 18px;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 13px 30px;
      outline: none;
    }
  
    .columns {
      margin-left: 90px;
      position: relative;
      top: 0;
      background-color: #333333;
      height: 40px;
      width: calc(100% - 100px);
      padding: 0;
      display: table;
  
  
      li {
        display: inline-block;
        margin-bottom: 5px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        color: white;
  
      }
    }
  }
  
  
  .wrapper {
    position: relative;
    top: 70px;
    
    .hours-column {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      padding: 0;
      
      
      li {
        text-indent: 40px;
        border-top: 1px solid #dadce0;
        list-style: none;
        color: #70757A;
        padding-top: 11px;
        margin-bottom: 30px;
      }  
    }
    
    .events-canvas {
      position: relative;
      top: 66px;
      left: 80px;
      // left: 7%;
      width: calc(100% - 80px);
      height: 1440px;
      
      .current-time-bar {
        border: 1px solid #ea4335;
        width: 100%;
        position: absolute;
      }
      
      div {
        display: table;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        
        p {
          text-align: center;
          vertical-align: middle;
          display: table-cell;
        }
      }
    }
  }
  .list-view {
    position: absolute;
    top: 16%;
    width: 95%;
    bottom: 5%;
    left: 2.5%;
    color: white;
    background-color: #262626;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;



      
      .play-details-list {
        border: 1px solid #70757A;
        box-shadow: 0 0 8px #b9b9b981;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        height: 10%;
        
        > div {
          width: 20%;
          padding-top: 0.6%;
          padding-left: 0.6%;
        }
      }
      
      .choose-button {
        font-size: 18px;
        color: #fff;
        margin: 1% 1%;
        border: none;
        border-radius: 5px;
        outline: none;
        width: 8%;
        height: 50%;
        background-color: #00b300;
        cursor: pointer;
      }
    
  }
.title-main {
  position: absolute;
  top: 11%;
  left: 40%;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  z-index: 2;
}
