// .seat-wrap {
//     border: 2px dotted rgb(96, 139, 168);
//     width: 500px;
// }
.screen {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    transform: translate(0, -50%);
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background-color: #999999;
}

.seat-wrap {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(0, -50%);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 50%;
}

.seat-wrap > div {
    margin: 5px;
    border: 2px solid rgb(96, 139, 168);
    border-radius: 5px;
    text-align: center;
}

.start-order {
    position: absolute;
    z-index: 2;
    top: 74%;
    right: 25%;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 13px 30px;
    outline: none;
    background-color: #0099ff;
    cursor: pointer;

}
.customer-form {
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #fafafa;
    background: 3px solid #fafafa;
    z-index: 9;
    box-shadow: 0 0 7px rgba(116, 116, 116, 0.637);

    // @media (max-width: 767px) {
    //     width: 90%;
    // }

    input {
        height: 50px;
    }
    
    .form-container {
        padding: 10px;
        background-color: white;
        width: 100%;
        background: 3px solid #fafafa;
    }

    .form-container input[type=text], .form-container input[type=email], .form-container input[type=number], .form-container input[type=password] {
        width: 93%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        border-radius: 5px;
    }
    
    .form-container input[type=text]:focus, .form-container input[type=email]:focus, .form-container input[type=number]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    
    .place-order {
        width: 30%;
        z-index: 2;
        font-size: 18px;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 13px 30px;
        margin-left: 55%;
        margin-bottom: 10px;
        outline: none;
        background-color: #0099ff;
        cursor: pointer;
        text-align: center;

    }

    .close-button {
        width: 30%;
        z-index: 2;
        font-size: 18px;
        text-align: center;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 13px 30px;
        outline: none;
        margin-left: 55%;
        background-color: red;
        cursor: pointer;
    }
}
